* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

@media screen and (max-width: 1080px) {
    .container {
        font-size: 30px;
        font-weight: normal;
    }
    
}