body {
    background: #333;
    margin: 0;
}

.tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.tile {
    height: 100px;
    background: #111111;
    border: 5px solid #444444;
    cursor: pointer;
}

.footer {
    color: #c0c0c0;
}